@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f4f4f4;
}

.Navbar {
  list-style-type: none;
  width: 15rem;
  height: 100%;
  background-color: #2f2f2f;
  float: left;
  justify-content: center;
  position: fixed;
  top: 0;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
}

.Navbar a {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

.Navbar a:hover {}

.Navbar-List {
  list-style-type: none;
}

.Navbar-List img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  margin: 20px auto;
}

.chatbox {
  border: 1px solid #dedede;
  width: calc(100% - 15rem);
  height: 100%;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 15rem;
}

.chatbox input {
  display: flex;
  width: 30rem;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #dedede;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.chatbox button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#chatMessages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15rem;
  width: calc(100% - 15rem);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  width: 50%;
  word-wrap: break-word;
}

.container p {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

}

.container img {
  width: 50%;
  height: auto;
  border-radius: 5%;
  margin-top: 0.5rem;
}

.hamburgermenu {
  display: none;
}

#chatForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .Navbar {
    display: none;
  }

  #chatForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }


  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .chatbox {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  #chatMessages {
    margin-left: 0;
    width: 100%;
  }

  .chatbox {
    width: 100%;
  
  }

  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #2f2f2f;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
}
